<div mat-dialog-content #dialogContent>
    <div class="logo">
        <img src="assets/CAS logo/Expense logo.jpeg" alt="Logo" />
    </div>

    <div class="dialog-content">
        <!-- earning table -->
        <div>
            <div class="table-format-full">
                <table>
                    <tr>
                        <th><strong>Salary Slip</strong></th>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="dialog-content">
        <div class="table-container">
            <!-- earning table -->
            <div class="table-format">
                <table>
                    <tr>
                        <td><strong>Name:</strong></td>
                        <td> Ganesh Nehe</td>
                    </tr>
                    <tr>
                        <td><strong>Employee No:</strong></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><strong>Date of Joining:</strong></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><strong>Bank Name:</strong></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><strong>Bank Account No:</strong></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><strong>PAN Card No:</strong></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><strong>Branch:</strong></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><strong>Department:</strong></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><strong>Designation:</strong></td>
                        <td></td>
                    </tr>
                </table>
            </div>

            <!-- tax table -->
            <div class="table-format-2">
                <table>
                    <tr>
                        <th rowspan="2">Leave Record</th>
                        <th colspan="3">Current Leave Status</th>
                    </tr>
                    <tr>
                        <td><strong>Entitle</strong></td>
                        <td><strong>This month</strong></td>
                        <td><strong>Total</strong></td>
                    </tr>
                    <tr>
                        <td><strong>Privileged Leave:</strong></td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td><strong>Casual Leave:</strong></td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                    </tr>
                </table>
                <br>
                <br>
                <br>
                <table>
                    <tr>
                        <td colspan="2"><strong>Pay Period:</strong></td>
                        <td colspan="2">DEC 25</td>

                    </tr>
                    <tr>
                        <td colspan="2"><strong>Total Working Days:</strong></td>
                        <td colspan="2">10</td>
                    </tr>
                    <tr>
                        <td colspan="2"><strong>Days Payable:</strong></td>
                        <td colspan="2">10</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>

    <div class="dialog-content">
        <div class="table-container">
            <!-- earning table -->
            <div class="table-format">
                <table>
                    <tr>
                        <th colspan="3">Earnings</th>
                    </tr>
                    <tr>
                        <th colspan="3">ARREAR/ADJ</th>
                    </tr>
                    <tr>
                        <td><strong>Basic Pay:</strong></td>
                        <td> ₹ 000</td>
                        <td> ₹</td>
                    </tr>
                    <tr>
                        <td><strong>House Rent:</strong></td>
                        <td> ₹</td>
                        <td> ₹</td>
                    </tr>
                    <tr>
                        <td><strong>Conveyance:</strong></td>
                        <td> ₹</td>
                        <td> ₹</td>
                    </tr>
                    <tr>
                        <td><strong>Telephone Allowance:</strong></td>
                        <td> ₹</td>
                        <td> ₹</td>
                    </tr>
                    <tr>
                        <td><strong>Special Pay:</strong></td>
                        <td> ₹</td>
                        <td> ₹</td>
                    </tr>
                    <tr>
                        <td><strong>Other Pay:</strong></td>
                        <td> ₹</td>
                        <td> ₹</td>
                    </tr>
                    <tr>
                        <td><strong>Total Earnings:</strong></td>
                        <td> ₹</td>
                        <td> ₹</td>
                    </tr>

                </table>
            </div>

            <!-- tax table -->
            <div class="table-format-2">
                <table>
                    <tr>
                        <th colspan="3">Deductions</th>
                    </tr>
                    <tr>
                        <th colspan="3" class="end-aligned">ARREAR/ADJ</th>
                    </tr>
                    <tr>
                        <td><strong>Professional Tax:</strong></td>
                        <td> ₹ 200</td>
                        <td> ₹</td>
                    </tr>
                    <tr>
                        <td><strong>EPF:</strong></td>
                        <td> ₹</td>
                        <td> ₹</td>
                    </tr>
                    <tr>
                        <td><strong>Income Tax:</strong></td>
                        <td> ₹</td>
                        <td> ₹</td>
                    </tr>
                    <tr>
                        <td><strong></strong></td>
                        <td> ₹</td>
                        <td> ₹</td>
                    </tr>
                    <tr>
                        <td><strong></strong></td>
                        <td> ₹</td>
                        <td> ₹</td>
                    </tr>
                    <tr>
                        <td><strong></strong></td>
                        <td> ₹</td>
                        <td> ₹</td>
                    </tr>
                    <tr>
                        <td><strong>Total Deductions:</strong></td>
                        <td> ₹</td>
                        <td> ₹</td>
                    </tr>

                </table>
            </div>
        </div>
    </div>

    <div class="dialog-content">
        <div >
            <!-- earning table -->
            <div class="table-format-full">
                <table>
                    <tr>
                        <td><strong>Net Salary Payable:</strong></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><strong>Net Salary in Words:</strong></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div mat-dialog-actions class="action">
    <button mat-button class="btn btn-outline-dark" mat-raised-button color="accent" (click)="print()">Print</button>
    <button mat-button mat-dialog-close class="btn btn-outline-dark" mat-raised-button color="primary">Close</button>
</div>