.page-container {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
    padding: 20px; 
}

.filter-input {
    margin-top: 10px;
    width: 50%;
}

.table-card{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.custom-table {
    width: auto;
    margin: auto;
}

.table-container {
    display: flex;
}
 
table {
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
    border-left: 1px solid grey;
    padding: 5px;
    text-align: justify;
}
  
th:first-child, td:first-child {
    border-left: none; 
}

tr:last-child td {
    border-bottom: 1px solid grey;
}

th {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.active-toggle {
    color: white; 
    background-color: #1976D2; 
}

.inactive-toggle {
    color: #757575;
    background-color: #E0E0E0; 
}

button.mat-icon-button {
    font-size: 24px; 
    width: 36px; 
    height: 36px; 
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) { /* Tablets and mobile */
    .filter-input {
        width: 100%; /* Full width for filter input */
    }

    .page-container {
        padding: 15px; /* Reduced padding */
    }

    th, td {
        font-size: 14px; /* Smaller font size for better fitting */
        padding: 10px; /* More padding for touch devices */
    }

    button {
        font-size: 14px; /* Make buttons smaller */
    }
}

@media (max-width: 576px) { /* Mobile phones */
    h3 {
        font-size: 18px; /* Smaller heading */
        text-align: center; /* Center the heading */
    }

    .d-flex {
        flex-direction: column; /* Stack button below the heading */
        align-items: center; /* Center items */
    }

    button.btn {
        width: 100%; /* Full width buttons */
        margin-top: 10px; /* Add spacing between elements */
    }

    th, td {
        font-size: 12px; /* Further reduce font size */
        padding: 8px; /* More padding */
    }

    .table-card {
        overflow-x: auto; /* Enable horizontal scrolling on small devices */
    }

    .custom-table {
        display: block; /* Allow table to scroll horizontally */
    }
}