<div mat-dialog-title>Employee Form</div>
<form [formGroup]="employeeForm">
    <div mat-dialog-content class="content">
        <div fxLayout="row" fxLayoutGap="10px">
            <mat-form-field appearance="outline" fxFlex="50%">
                <mat-label> First Name</mat-label>
                <input matInput formControlName="employeeFirstName" required>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="50%">
                <mat-label> Middle Name</mat-label>
                <input matInput formControlName="employeeMiddleName" required>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="50%">
                <mat-label> Last Name</mat-label>
                <input matInput formControlName="employeeLastName" required>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="10px">
            <mat-form-field appearance="outline" fxFlex="50%">
                <mat-label> Email</mat-label>
                <input matInput formControlName="emailId" type="email" required>
            </mat-form-field>
            <mat-form-field *ngIf="!data" appearance="outline" fxFlex="50%">
                <mat-label> Password</mat-label>
                <input matInput formControlName="password" type="password" required>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="10px">
            <mat-form-field appearance="outline" fxFlex="50%">
                <mat-label> Mobile No.</mat-label>
                <input matInput type="number" formControlName="mobile_no" required>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="50%">
                <mat-label> Bank No.</mat-label>
                <input matInput type="number" formControlName="bankId" required>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="50%">
                <mat-label> Profile Photo</mat-label>
                <input matInput type="text" formControlName="profilephoto" required>
            </mat-form-field>
        </div>

        <div *ngIf="data" fxLayout="row" fxLayoutGap="10px">
            <mat-form-field fxFlex="100%" appearance="outline">
                <mat-label>Description</mat-label>
                <input matInput formControlName="auditDetail" type="text" required>
            </mat-form-field>
        </div>

        <!-- Horizontal line based on mode -->
        <div *ngIf="data" style="border-top: 1px solid #ccc; margin: 20px 0;"></div>
        <div *ngIf="!data" style="border-top: 1px solid #ccc; margin: 20px 0;"></div>

        <!-- Checkbox section -->
        <div *ngIf="!data" fxLayout="column" fxLayoutGap="10px">
            <mat-checkbox [checked]="selectAll" (change)="toggleAllCheckboxes()">Select All</mat-checkbox>
            <div fxLayout="row" fxLayoutGap="20px">
              <mat-checkbox formControlName="dashboard">Dashboard</mat-checkbox>
              <mat-checkbox formControlName="employee">Employee</mat-checkbox>
              <mat-checkbox formControlName="expense">Expense</mat-checkbox>
              <mat-checkbox formControlName="expenseMaster">Expense Master</mat-checkbox>
              <mat-checkbox formControlName="voucherHead">Voucher Head</mat-checkbox>
              <mat-checkbox formControlName="currency">Currency</mat-checkbox>
            </div>
          </div>
    </div>
    <div mat-dialog-actions class="action">
        <button class="btn btn-outline-dark" mat-raised-button (click)="dialogclose()">Cancel</button>
        <button class="btn btn-outline-dark" mat-raised-button [disabled]="employeeForm.invalid" (click)="addEmployeeData()">{{data ? 'Update' : 'Save'}}</button>
    </div>
</form>
