<div mat-dialog-title>Add Address Type</div>
<form [formGroup]="AddressTypeForm">
    <div mat-dialog-content class="content">
        <mat-form-field fxFlex="100%" appearance="outline">
            <mat-label>Address Type</mat-label>
            <input matInput type="text" formControlName="addressType" required="" >
        </mat-form-field>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-dialog-close class="btn btn-outline-dark" mat-raised-button>Cancel</button>
        <button class="btn btn-outline-dark" mat-raised-button color="primary" (click)="addAddressType()">Save</button>
    </div>
</form>

