.content{
    padding-top: 10px;
}

.row{
    display: flex;
    gap: 10px;
}

.action{
    padding: 0px 25px 20px;
    :is(button) {
        flex: 1;
    }
    display: flex;
    justify-content: flex-end;
}

.custom-mat-form-field {
    width: 100%;
    :is(mat-form-field) {
        width: 100%;
    }
}

.file{
    margin-bottom: 10px;
}