<h2 mat-dialog-title>Add Payment Slip of {{(data.empDetails.totalAmount) | currency:'INR':'symbol':'1.0-0' }} to {{data.empDetails.employeeFirstName}} {{data.empDetails.employeeLastName}} <br> {{data.empDetails.mischeadname}}</h2>
<mat-dialog-content>
    <div>
        <input type="file" (change)="onFileChange($event)">
    </div>
</mat-dialog-content>
<div mat-dialog-actions class="action">
    <button class="btn btn-outline-dark" mat-raised-button color="primary" (click)="onSave()">Save</button>
</div>

