<h2 mat-dialog-title>Business Details</h2>
<div mat-dialog-content *ngIf="data && data.businessDetails">
    <!-- <p><strong>ID:</strong> {{ data.businessDetails.businessId }}</p> -->
    <p><strong>Business Name:</strong> {{ data.businessDetails.businessName }}</p>
    <p><strong>CIN No.:</strong> {{ data.businessDetails.CIN_no }}</p>
    <p><strong>PAN No.:</strong> {{ data.businessDetails.PAN_no }}</p>
    <!-- <p><strong>Logo:</strong> {{ data.businessDetails.logoFileLocation }}</p> -->
    <hr>
    <p><strong>Address:</strong></p>
    <p><strong>Line 1:</strong> {{ data.businessDetails.addressLine_1 }}</p>
    <p><strong>Line 2:</strong> {{ data.businessDetails.addressLine_2 }}</p>
    <p><strong>City:</strong> {{ data.businessDetails.city }}</p>
    <p><strong>State:</strong> {{ data.businessDetails.state }}</p>
    <p><strong>Country:</strong> {{ data.businessDetails.isoCountryCode }}</p>
    <p><strong>Pin Code:</strong> {{ data.businessDetails.pinCode }}</p>

  <!-- <div>
    <label for="fileInput">Upload Logo:</label>
    <input type="file" id="fileInput" (change)="handleFileInput($event)">
  </div>
  <div *ngIf="selectedFile">
    <p>Selected File: {{ selectedFile.name }}</p>
  </div> -->

</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
