<h2 mat-dialog-title>Voucher Expense Details</h2>
<div mat-dialog-content #dialogContent>
  <table mat-table [dataSource]="data.voucherDetails" class="mat-elevation-z8">

    <ng-container matColumnDef="expenseDate">
      <th mat-header-cell *matHeaderCellDef> Expense Date </th>
      <td mat-cell *matCellDef="let element"> {{element.expenseDate | date:'mediumDate'}} </td>
    </ng-container>

    <ng-container matColumnDef="miscExpenseCatName">
      <th mat-header-cell *matHeaderCellDef> Expense Category </th>
      <td mat-cell *matCellDef="let element"> {{element.miscExpenseCatName}} </td>
    </ng-container>

    <ng-container matColumnDef="expenseDescription">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.expenseDescription}} </td>
    </ng-container>

    <ng-container matColumnDef="miscExpenseAmount">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let element"> {{element.miscExpenseAmount}} {{element.currency_name}} </td>
    </ng-container>

    <ng-container matColumnDef="bill_status">
      <th mat-header-cell *matHeaderCellDef> Bill Status </th>
      <td mat-cell *matCellDef="let element"> {{element.bill_status}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="print()">Print</button>
  <button mat-button mat-dialog-close>Close</button>
</div>
