.page-container {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
    padding: 20px; 
}

.filter-input {
    margin-top: 10px;
    width: 50%;
}

.table-card{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.custom-table {
    width: auto;
    margin: auto;
}

.table-container {
    display: flex;
}
 
table {
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
    border-left: 1px solid grey;
    padding: 5px;
    text-align: justify;
}
  
th:first-child, td:first-child {
    border-left: none; 
}

tr:last-child td {
    border-bottom: 1px solid grey;
}

.active-toggle {
    color: white; 
    background-color: #1976D2; 
}

.inactive-toggle {
    color: #757575;
    background-color: #E0E0E0; 
}

button.mat-icon-button {
    font-size: 24px; 
    width: 36px; 
    height: 36px; 
}

/* Set different max-width values for each column */
th.mat-header-cell:nth-child(1), td.mat-cell:nth-child(1) {
    max-width: 10px; /* Serial Number column */
}

::ng-deep .btn-yellow {
    background-color: yellow !important;
    color: black !important;
}

::ng-deep .btn-green {
    background-color: green !important;
    color: white !important;
}

::ng-deep .btn-red {
    background-color: red !important;
    color: white !important;
}

::ng-deep .btn-white {
    background-color: white !important;
    color: rgb(0, 0, 0) !important;
}

/* Ensure buttons have consistent padding and margin */
button.mat-raised-button {
    margin: 0;
    padding: 0 16px;
}

.scrollable-container {
    overflow-x: auto;
    max-width: 100%; /* Ensures the container doesn't overflow beyond the card */
  }
  
  .custom-table {
    min-width: 2200px; /* Set a minimum width to ensure the table is scrollable */
  }

