
<form [formGroup]="customerForm">
    <div mat-dialog-content class="content">
        <div mat-dialog-title>Add Customer Details</div>
        <div fxLayout="row" fxLayoutGap="10px">
            <mat-form-field appearance="outline" fxFlex="50%">
                <mat-label>Customer Name</mat-label>
                <input matInput formControlName="customerName" required>
                <mat-error>Cutomer Name is required</mat-error>
            </mat-form-field>

            <input type="file"  (change)="onFileChange($event)">
        </div>

        <div fxLayout="row" fxLayoutGap="10px">
            <mat-form-field appearance="outline" fxFlex="50%">
                <mat-label>Contact Person</mat-label>
                <input matInput formControlName="contactPerson" required>
                <mat-error>Contact Person is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="50%">
                <mat-label>Contact Person No</mat-label>
                <input matInput formControlName="contactPersonNo" type="number" required>
                <mat-error>Contact Person No is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="50%">
                <mat-label>GST NO</mat-label>
                <input matInput formControlName="gstNo" required>
                <mat-error>GST NO is required</mat-error>
            </mat-form-field>
        </div>
        <hr>
        <div mat-dialog-title>Add Customer Branch Addresses</div>
        <div formArrayName="branchAddress">
            <div *ngFor="let branch of branchAddress.controls; let i = index" [formGroupName]="i">
                <div fxLayout="row" fxLayoutGap="10px">
                    <!-- Address Description -->
                    <mat-form-field appearance="outline">
                        <mat-label>Address Type</mat-label>
                        <mat-select formControlName="addressTypeId" required>
                            <mat-option *ngFor="let branch of addressTypes" [value]="branch.addressTypeId">{{
                                branch.addressTypes }}</mat-option>
                        </mat-select>
                        <mat-error>Address Type is required</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Local Area</mat-label>
                        <input matInput formControlName="localArea" required>
                        <mat-error>Local Area is required</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>City</mat-label>
                        <input matInput formControlName="city" required>
                        <mat-error>City is required</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>State</mat-label>
                        <input matInput formControlName="state" required>
                        <mat-error>State is required</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Country</mat-label>
                        <input matInput formControlName="country" required>
                        <mat-error>Country is required</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>PIN Code</mat-label>
                        <input matInput formControlName="pinCode" type="number" required>
                        <mat-error>Pin Code is required</mat-error>
                    </mat-form-field>

                    <!-- Minus Button -->
                    <button mat-icon-button color="warn" *ngIf="i !== 0" (click)="removeBranch(i)">
                        <mat-icon>remove</mat-icon>
                    </button>
                </div>
            </div>
        </div>

        <!-- Plus Button -->
        <button mat-icon-button color="primary" type="button" (click)="addBranches()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</form>

<div mat-dialog-actions class="action" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" (click)="addCustomerDetails()" [disabled]="isSaving">{{ data ? 'Update' : 'Save' }}</button>
</div>